@import "../variables";
@import "../mixins";

.module_image
    display block
    position relative
    line-height 0
    .image
        display block
        position relative
        width 100%
        height auto

    .title
        line-height normal
        title(color-white)
