{% extends 'markup/layouts/_master.twig' %}

{% block main %}

    <p>Test</p>

    {% if record is defined %}

        <h1>{{ record.title }}</h1>

        {{ record.teaser }}

        {{ popup(record.image, 1200, 500) }}

        {{ record.body }}

    {% endif %}

{% endblock main %}
