<nav class="nav">
    <ul>
        <li><a class="nav_link" href="/">Home</a></li>
        <li><a class="nav_link" href="/page/page-01">Page 01</a></li>
        <li><a class="nav_link" href="/page/page-02">Page 02</a></li>
    </ul>
</nav>
