{% setcontent pages = 'pages/latest/4' where { 'taxonomy/chapter': 'main'} %}
<nav class="nav">
    {% for page in pages|order('-sortorder') %}
        {% if loop.first %}<ul>{% endif %}
            <li><a class="nav_link{% if page|current %} current{% endif %}" href="/page/{{ page.slug }}">{{ page.title|trimtext(24) }}</a></li>
        {% if loop.last %}</ul>{% endif %}
    {% endfor %}
</nav>
